
.nav{
    display: flex;
    justify-content: space-between;
    
}
.nav__list{
display: flex;
padding:0;
gap:1em;
justify-content: space-between;
}
.nav__list__item, .logo{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.nav__list__item:hover{
background-color: blue;
}
